h1 {
    color: white !important;
    font-weight: 600 !important;
    /* font-size: 48pt !important; */
}

p {
    color: white;
}

#details p {
    display: inline;
}

#details p {
    color: rgba(255,255,255, 0.7) !important;
}

#year::before {
    content: "• ";
}

.dropdown-item.selected::after {
    content: "✓";
    position: relative;
    top: -1px;
    right: -45px;
}

body {
    max-height: 100vh;
}

#poster {
    border-radius: 10px;
}

.red { background-color: red; }

.h-100 { min-height: 100vh; }

/* #background-container { */
#background {
    
    height: 150%;
    /* max-height: 100vh; */

    /* overflow: hidden !important;
    background-image: url("../img/lp_site.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    background-size: 100%;

    filter: blur(60px);
    -webkit-filter: blur(60px);
    /* transform: scale(1.7);  */

    position: absolute;
    z-index: -1; 
}

#background {
    height: 150%;
    position: absolute;

    z-index: -1; 
}

body {
	background-size: 100% 100%;
    /* animation: gradient 15s linear infinite; */
    transform: translateZ(0);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
    25% {
        background-position: 100% 50%;
    }
	50% {
		background-position: 75% 100%;
	}
    75% {
		background-position: 0% 100%;
	}
    90% {
		background-position: 0% 55%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#poster {
    width: 70%;
    /* animation: flip 1s ease-in-out; */
    box-shadow: 0px 5px 15px black;
} 

@keyframes flip {
    0% {
        transform: rotateY(0deg) scale(1);
    }
    50% {
        transform: rotateY(180deg) scale(0.97);
    }
    100% {
        transform: rotateY(360deg) scale(1);
    }
}

.text-details {
    padding-top: 10px;
    text-align: center;
}

#sub-container {
    width: 90%;
}

@media (max-width: 576px) {
    #background {
        height: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #poster {
        min-width: 50%;
        width: 90%;
        /* height: fit-content; */
    } 
    #background {
        height: 100%;
    }
    .text-details {
        padding-top: none;
        text-align: start !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #poster {
        /* height: 50%; */
        min-width: auto;
        width: 70%;
        max-width: 100vh;
    }
    #sub-container {
        width: 80%;
    }
    #background {
        max-height: 100vh;
    }
}

@media (min-width: 992px) {
    #poster {
        min-width: 50%;
        width: 80%;
    } 
    #sub-container {
        width: 70%;
    }
}
