h1 {
    color: white !important;
    font-weight: 600 !important;
}

h1 span {
    background-color: white;
    width: fit-content;
    animation: pulsing 2.5s ease-in-out infinite;
}

p span {
    background-color: white;
    width: fit-content;
    animation: pulsing 2s ease-in-out infinite;
}

.red { background: red; }

#details p span {
    background-color: lightgray;
    width: fit-content;
    animation: pulsing 2.25s ease-in-out infinite;
    color: lightgray !important;
}

#poster-placeholder {
    background-color: darkgray;
    width: 90%;
    animation: pulsing 2.4s ease-in-out infinite;
    box-shadow: 0px 5px 15px black;
    border-radius: 10px;
    max-width: 350px;
    aspect-ratio: 8/11;
}

@keyframes pulsing {
    0% { opacity: 15%; }
    50% { opacity: 100%; }
    100% { opacity: 15%; }
}

h6 {
    color: rgba(255,255,255, 0.7);
    text-transform: uppercase;
}

p { 
    color: white; 
}

/* Bootstrap button override */
.btn {
    font-weight: 500;
}
.btn:hover, .btn:focus, .btn:active {
    box-shadow: none !important; /* Remove Bootstrap default outline */
}
@media(hover: hover) { /* Devices with hover */
    .btn:active {
        opacity: 80%;
        transition: .15s ease-in-out;
    }
}
@media(hover: none) { /* Devices with no hover (mobile) */
    .btn:hover, .btn:focus {
        background-color: var(--bs-btn-bg);
        color: var(--bs-btn-color);
    }
    .btn.dropdown-toggle:hover {
        background-color: var(--bs-btn-hover-bg);
        color: var(--bs-btn-hover-color);
    }
    .btn:active {
        background-color: var(--bs-btn-hover-bg);
        color: var(--bs-btn-hover-color);
    }
}

/* .btn-outline-light.disabled {
    color: white;
} */

#details p {
    display: inline;
    color: rgba(255,255,255, 0.7) !important;
}

#year::before { 
    content: "• ";
}

.dropdown-item.selected::after { 
    content: " ✓"; 
    position: relative;
    right: -3px;
    top: -1px;
}

.h-100 { min-height: 100vh; }

i {
    margin-right: 2px;
}

body {
    background-color: rgba(0,0,0, 0.8);
    /* animation: animate-gradient 10s linear infinite; */
    /* transform: translateZ(0); */
    /* transform: rotateZ(360deg) */
}

@keyframes animate-gradient {
	0% { background-position: 0% 50%; }
    25% { background-position: 100% 50%; }
	50% { background-position: 50% 100%; }
    75% { background-position: 0% 100%; }
    90% { background-position: 0% 55%; }
	100% { background-position: 0% 50%; }
}

#main-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

#poster {
    border-radius: 10px;
    box-shadow: 0px 5px 15px black;
    width: 70%;
}

.text-details {
    padding-top: 30px;
    text-align: center;
}

#sub-container { 
    width: 95%; 
}

#button-container {
    align-self: center;
    width: 95vw;
}

.btn, .btn-group {
    width: 80%;
}

.btn-group button {
    max-width: 30px;
}

/* Small devices */
@media (min-width: 576px) {
    #button-container {
        align-self: center;
        width: 100%;
    }
    #poster {
        min-width: 50%;
        width: 90%;
    }
    #sub-container {
        width: 90%;
    }
    .text-details {
        padding-top: 0px;
        text-align: start !important;
    }
    .btn, .btn-group {
        width: 100%;
    }
}

/* Medium devices */
@media (min-width: 768px) {
    #poster {
        min-width: auto;
        width: 80%;
        max-width: 100vh;
    }
    #sub-container {
        width: 90%;
    }
    .btn, .btn-group {
        width: unset;
    }
}

@media (min-width: 992px) {
    #poster {
        min-width: 50%;
        width: 80%;
    } 
    #sub-container {
        width: 70%;
    }
}
